.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


:root{
    --color-text-main: #757575;
    --color-text-titel:#212121;
    --color-text-white:#FFFFFF;
    --color-text-black:#000000;
    --color-text-logo: #2196F3;
    --color-text-foter: rgba(255, 255, 255, 0.6);
    --background-color-hero: #2F303A;
    --background-color-section:#F5F4FA;
    --background-color-card: #FFFFFF;
    --hover-main:#2196F3;
    --hover-secondary:#188CE8;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-main);
}

button{
    cursor: pointer;
}

/* Шапка */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text-logo);
}

.logo-black{
    color: var(--color-text-black);
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--color-text-titel);
}


.current{
    color: var(--color-text-logo);
}

.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text-main);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus{
    color: var(--hover-main);
}

/* Секція герой */
.hero{
    background-color: var(--background-color-hero);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--color-text-white);
}

.hero-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-text-white);
    background-color: var(--color-text-logo);
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--hover-secondary);
}

/* Наші переваги */
.hidden {
    display: none
}

.benefits-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-text-titel);
}

.benefits-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Чим ми займаємося */
.title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--color-text-titel)
}

/* Наша команда */
.our-team{
    background-color: var(--background-color-section);
}
.our-team-item{
    background-color: var(--background-color-card);
}

.our-team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text-titel);
}

.our-team-text{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Футер */
.bottom{
    background-color: var(--background-color-hero);
}

.logo-white{
    color: var(--color-text-white);
}

.bottom-contact{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text-white);
}

.bottom-link{
    color: var(--color-text-foter);
}

.bottom-contact:hover,
.bottom-contact:focus{
    color: var(--color-text-logo);
}

/* Портфоліо */
.filter-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text-titel);
    background-color: var(--background-color-section);
}

.filter-btn:hover,
.filter-btn:focus{
    color: var(--color-text-white);
    background-color: var(--hover-main);
}

.portfolio-subtitle{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text-titel);
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-text-main);
   }